<mat-card class="card-login">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus
      ultricies erat, cursus tristique nisl lacinia condimentum. Cras quis
      consectetur lacus. Nulla a tempor ex. Vestibulum cursus diam at ex lacinia
      accumsan. Nulla eget molestie sem. Sed non dolor non enim iaculis pretium
      eget id dui. In euismod velit at mi tincidunt rhoncus. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Mauris pharetra dui eget nisi consectetur, eu suscipit lectus vestibulum.
      Etiam et sem eget diam ultricies porta eget vel justo. Vivamus dignissim
      varius nisl et posuere.
    </p>
  </mat-card-content>
</mat-card>
