.user-panel {
  padding: 10px;
}
.logout-link {
  color: #ff4075;
  padding-left: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 10px;
}

.item__title {
  flex: 1 0 auto;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__title.is-completed {
  text-decoration: line-through;
}

.add-todo {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.input-field {
  flex: 1 0 auto;
}
